body{
	background:#eee;
	font-family: Tahoma,Verdana,Segoe,sans-serif;
}

input[type="submit"],#bGuardar{
    background:#506E86 url(../Img/devoops_pattern_b10.png) repeat;
	color: #fff;
    border:none;
    padding:5px 7px;
}

input[type="submit"]:hover{
	background:#3A5061 url(../Img/devoops_pattern_b10.png) repeat;}

input[type="button"]{
    margin-top:15px;
    background:#aaa;
    border:none;
    padding:5px;
    color:#fff;}

input[type="button"]:hover{ background-color:#506E86;}

#AutoNombre{
	margin-left: 1px;
    height:33px;
    font-size:14px;
    color:#506E86;
    box-shadow:inset 0px 1px 1px rgba(0, 0, 0, 0.0745098);
    padding:2px 12px;
    border:2px solid #C5C5C5;
}

table{
	width:100%;
	font-size:14px;
	border-collapse:collapse;}

th{
	text-align:left;
	padding:5px;
	border:1px solid #ccc;
	text-transform:uppercase;}

tr:nth-child(even){ background-color:#f8f8f8;}

td{
	min-width:150px;
	border:1px solid #ccc;
	padding:5px;}
 
.entrega-dato{
	width:100%;
	border:none;
	background-color:transparent;}

.menudiv{
	top:50px;
	left:0;
	bottom:3px;
	width:135px;
	padding:12px 0 0 12px;
	position:fixed;
	border-right:1px double #e3e3e3;}

.menudiv a{
	display:inline-block;
	width:120px;
	color:white;
	font-size:12px;
	text-align:center;
	text-transform:uppercase;
	padding:6px 2px;
	margin:2px auto;
	background: #3C68B4 url(../Img/devoops_pattern_b2.png) repeat;/*#ff720e*/
	text-decoration:none;}

.menudiv a:hover{ background-color:#FCB040;}

.barradiv{
	margin:64px 0px 0px 155px;
	border:1px solid #151515;
	width:76.5%;}

.button{
    background:#506E86 url(../Img/devoops_pattern_b10.png) repeat;
	color: #fff;
    border: 5px;
    padding:5px 7px;
	margin-bottom: -15px !important;
}

.divplanilla{
	margin:35px auto;}

.divVistaPrevia{
	border:1px solid black;
	height:1057px;
	width:806px;
	background-image:url('../Img/VistaPrevia.png');
	background-repeat: no-repeat;}

.vista-datos{
	font-size:11px;
	margin:159px 0 0 172px;
	width:274px;}

.vista-datos span{
	display:block;
	margin:1px 0;
	padding:0.15px 2px;
	border:1px solid gray;}

.vista-horas{
	float:right;
	font-size:10px;
	margin:-122px 0 0;
	width:86px;}

.vista-horas span{
	display:block;
	padding:0.5px 2px;
	margin:1.8px 0;}

.vista-haberes{
	font-size:12px;
	margin:33px 0 0 354px;}

.vista-haberes span{
	width:80px;
	display:block;
	margin:0.7px 0;
	padding:0.8px 0;}

.vista-descuentos{
	float:right;
	font-size:12px;
	margin:-340px 0 0;}

.vista-descuentos span{
	width:89px;
	display:block;
	margin:1px 0;
	padding:0.7px 0;}

.vista-total-haberes-descuentos{
	width:800px;
	font-size:12px;
	padding:0.5px 1px;
	text-align:right;
	margin-top:99px;
	float:right;}

.vista-total-haberes-descuentos span{ margin-left:351px;}

.vista-totales-izquierda{
	width:355px;
	float:left;
	margin-top:69px;
	font-size:12px;}

.vista-totales-izquierda span{
	text-align:right;
	margin:0 85px 0 20px;}

.vista-totales-centro{
	width:90px;
	margin:133px 0 0 355px;
	font-size:12px;
	text-align:right;}

.vista-totales-centro span{
	width:86px;
	display:inline-block;
	margin:1px 0;
	padding:0.5px 2px;}

.vista-totales-derecha{
	width:48px;
	float:right;
	margin-top:-87px;
	font-size:12px;
	text-align:right;
	padding:0 2px;}

.vista-totales-derecha span{
	width:48px;
    display:inline-block;
	margin:1px 0;}

#vista-sueldo-palabras{
	width:597px;
	font-size:12px;
	text-transform:uppercase;
	padding:0.5px 2px;
	margin:50px 0 0 205px;}

#top-header{
	top:0;
	left:0;
	right:0;
	position:fixed;
	padding:5px 10px;
	background: #2F3C4F url(../Img/devoops_pattern_b10.png) repeat;
	z-index:900;}

#top-header h1{ margin:0 2px;
 				color: #fff;}/*2F1B41 872341 BE3144 F05941 
								  2F3C4F 506E86 FCB040 DE703B
								*/

#user-status{
	top:0;
	bottom:0;
	right:30px;
	position:absolute;
	cursor:pointer;
	border:none;
	padding:0px 25px;
    text-decoration-color: #fff;
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
	background :#525252;/*#ff720e*/
	transition:all 0.4s ease;}

#user-status:hover{ background-color:#DE703B;}/*#f60e24*/

#infofo{ margin:80px auto 25px 150px;}
#tCso{
	border: 5px #8C8A96 !important;
    background:#506E86 url(../Img/devoops_pattern_b10.png) repeat;
	color: #fff;
	margin:0px 0px 3px 0px;
	text-align: center;	
}
.bAgregar{
	width:16px;
	height:16px;
	background-image:url(splus.svg);
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:1px 1px;
	background-size:14px;
	border-radius:100%;
	border:2px solid black;}

.bAgregar:hover{ background-color:#2196F3;}

.bEliminar{
	width:16px;
	height:16px;
	background-image:url(sminus.svg);
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:1px 1px;
	background-size:14px;
	border-radius:100%;
	border:2px solid black;}

.bEliminar:hover{ background-color:#FF2913;}

/* --------- Zona Switch */
.switch{
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;}

.switch input{ display:none;}

.slider{
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;}

.slider:before{
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;}

input:checked + .slider{ background-color: #2196F3;}

input:focus + .slider{ box-shadow: 0 0 1px #2196F3;}

input:checked + .slider:before{
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);}

.slider.round{ border-radius: 34px;}

.slider.round:before{ border-radius: 50%;}
