#boton{
	width:18px;
	height:18px;
	background-image:url(signo_plus.svg);
	background-color:transparent;
	background-repeat:no-repeat;
	background-position:2px 2px;
	background-size:14px;
	border-radius:100%;
	border:2px solid black;}